.section_container {
  width: 1040px;
  padding-top: 150px;
  background-color: white;
  display: flex;
}
.left_section {
}
.right_section {
  margin-left: 623px;
  width: 100%;
  padding-right: 10px;
  margin-top: -5px;
}

.logo {
  box-sizing: border-box;
  background-image: url(/src/assets/images/triple.png);
  background-repeat: no-repeat;
  text-align: center;
  font-family: sans-serif;
  color: var(--color-gray700);
  width: 400px;
  height: 338px;
  background-size: 400px 338px;
  font-size: 15px;
  position: absolute;
  padding-top: 278px;
  font-weight: 500;

  animation: 0.7s linear loadEffect;
}

.numeric {
  font-size: 36px;
  letter-spacing: -1px;
  margin-bottom: 13px;
  color: var(--color-gray);
  font-family: sans-serif;
  font-weight: 500;
}
.numerics {
  animation: 0.7s linear loadEffect;
}

.stores {
  display: flex;
  margin-top: 46px;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  justify-content: space-between;
  animation: 0.7s linear loadEffect;
}
.store {
  height: 54px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: 600;
}

.store img {
  height: 54px;
  width: 54px;
  padding-right: 8px;
}

@keyframes loadEffect {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
